.button {
	color: white;
	background-color: #343A40;
	border-radius: 5px;
	border-width: 1px;
	height: 2em;
	width: 100%;
	font-family: 'Jockey One', sans-serif;
	font-size: 16px;

	svg {
		height: 1em;
	}
}