.navbar {
	background-color: #343a40;
	height: 80px;
	position: sticky;
	padding: 3%;
	top: 0;
	z-index: 100000;

	svg {
		fill: white;
		font-size: 25px;
		height: 1em;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		align-items: center;
	}

	a {
		@media screen and (min-width: 1024px) {
			color: white;
		}
	}

	.logo {
		color: white;
		font-size: 1.3rem;

		a {
			color: white;
		}

		@media screen and (min-width: 1024px) {
		}
	}

	.hideLinks {
		@media screen and (max-width: 1024px) {
			display: none;
			width: 100%;
			flex-direction: column;
		}
	}

	//class to be toggled on when clicked on hamburger menu
	.showLinks {
		@media screen and (max-width: 1024px) {
			display: flex;

			align-items: flex-start;
			background-color: white;
			padding-left: 5px;
			border-bottom-color: lightgrey;
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}
	}

	.hamburger {
		background-color: transparent;
		border: 0;
		cursor: pointer;
		display: none;

		@media screen and (max-width: 1024px) {
			display: block;
		}
	}

	.cart {
		@media screen and (min-width: 1024px) {
			order: 4;
		}
	}
}

.hamburgerLi {
	display: none;
	@media screen and (max-width: 1024px) {
		display: block;
	}
}
