* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Jockey One', sans-serif;
	background-color: #f3eff5;

	a {
		text-decoration: none;
		color: black;
	}
}
.grid-container {
	display: grid;
	// gap: 1em;
}

.productContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
	gap: 10px;
	background-color: #f3eff5;
}
.productProducts {
	padding-left: 0.35em;
}
.cartItems {
	display: flex;
	margin: 0.5em 1em;
	flex-direction: column;
	border: black 1px solid;
	// padding-left: 25px;
	.cartItemsContent {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	.cartItemsImg {
		position: relative;
		width: 100px;
		height: 100px;
	}
	.cartItemsButtons {
		display: flex;
		
		gap: 1em;
		.cartItemsButtonButton {
			width: 20px;
		}
		.qtyText {
			width: 11em;
		}
	}
	.cartItemsFlex {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	// .cartPrice {
	// 	padding-left: 25px
	// }
}

.totalCartPrice {
	display: flex;
	justify-content: flex-end;
	padding-right: 1rem;
}